/target
/data/*
!/data/.gitkeep
/vendor/
/instance-src
/src/vendor
/components/jquery
/components/bootstrap
/components/font-awesome
/.idea
/.buildpath
/.project
/.settings
/.pydevproject
build.properties
jmeter.log
.DS_Store
/.metadata
.env


node_modules/
platforms/
plugins/
bower_components/

.tmp/
www/
.sass-cache
*.DS_Store
*.log
/nbproject/private/
